extends layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      if maxPage !== 0
        if comments.length === 0
          .main-page__empty-wrapper
            p.main-page__empty-text Ничего не найдено
        else
          h1.publication__title Комментарии
          ul.publication__list
            each comment in comments
              li.publication__list-item
                .publication__header
                  img.publication__list-image(src=`/img/${comment.user.avatar}`, width='20', height='20', alt='Аватар пользователя')
                  b.publication__list-name #{`${comment.user.firstName} ${comment.user.lastName}`} 
                  time.publication__item-time(datetime=`${comment.createdAt}`) #{formatDate(comment.createdAt)}
                a.publication__item-text(href=`/articles/${comment.article.id}`) #{comment.article.title}
                p.publication__text-strong #{comment.text}
                a.publication__button.button.button--close-item(href=`/articles/${comment.article.id}/delete-comment/${comment.id}`)
                  span.visually-hidden Закрыть строку списка
          if pageList.length > 1 && comments.length !== 0
            .preview__toggle-wrapper
              ul.preview__pagination.pagination
                li
                  a.pagination__button.button.button--backwards(href=`/my/comments/?page=${page === 1 ? 1 : page - 1}`, class={"button--disabled": page === 1} aria-label='Страница назад') Назад
                each pageNumber of pageList
                  li.pagination__item(class={"pagination__item--active": page === pageNumber})
                    a(href=`/my/comments/?page=${pageNumber}`) #{pageNumber}
                li
                  a.pagination__button.button.button--forward(href=`/my/comments/?page=${page === maxPage ? maxPage : page + 1}`, class={"button--disabled": page === maxPage} aria-label='Страница вперед') Вперед
      else
        .main-page__empty-wrapper
          p.main-page__empty-text Здесь пока пусто!