extends layout.pug

block content
  main
    section.search-page
      .search-page__wrapper
        h1 Поиск
        div.search.search-page__form(class={"search-page__wrapper--empty": results.length === 0 && search !== undefined})
          form(action="/search", autocomplete="off", method='get')
            label
              input(type='text', placeholder='Что ищем?', name="search" value=search || '')
            button.search__button.button.button--transparent(type='submit') Найти
          if results.length > 0
            each result in results
              .search__result
                time.search__date(datetime=`${result.createdAt}`) #{formatDate(result.createdAt)}
                a.search__link #{result.title}
            if pageList.length > 1
              .preview__toggle-wrapper
                ul.preview__pagination.pagination
                  li
                    a.pagination__button.button.button--backwards(href=`/search?search=${search}&page=${page === 1 ? 1 : page - 1}`, class={"button--disabled": page === 1} aria-label='Страница назад') Назад
                  each pageNumber of pageList
                    li.pagination__item(class={"pagination__item--active": page === pageNumber})
                      a(href=`/search?search=${search}&page=${pageNumber}`) #{pageNumber}
                  li
                    a.pagination__button.button.button--forward(href=`/search?search=${search}&page=${page === maxPage ? maxPage : page + 1}`, class={"button--disabled": page === maxPage} aria-label='Страница вперед') Вперед
        if results.length === 0 && search !== undefined
          p.search-page__empty Ничего не нашлось

